<!DOCTYPE html>
<html>

<head>
    <title>Registration Page</title>
</head>

<body>
    <h1>Register</h1>
    <form id="registrationForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Register">
    </form>
    <p id="registrationMessage"></p>
    <a href="./login"> Login</a>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/register.js"></script>
</body>

</html>